:root {
  --container: 1440px;
  --padding-container: 0 20px;

  --black-color: #000;
  --bgDark-color: #030303;

  --white-color: #ffffff;
  --gray-color: #c4c4c4;
  --medium-gray-color: #999999;
  --dark-gray-color: #333333;
  --gold-color: #9d8665;
  --lite-gold-color: #d2b183;
  --medium-gold-color: #caaa7d;

  --red-color: #710707;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  min-height: 100vh;
  min-width: 320px;
}

img, svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
  font-weight: 400;
}

p {
  font-family: Roboto;
}

.container {
  /* max-width: calc(100vw - ((100vw - var(--container)) / 2));
   */
  max-width: 1440px; 
  margin: 0 auto;
  /* background-color: rebeccapurple */
}

.section__title {
  font-family: Forum;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 75px;  
  border-radius: 10px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  background: var(--red-color);
  color: var(--white-color);
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 20px; 
  }
}

@media screen and (max-width: 1024px) {
  .section__title {
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 807px) {
  .section__title {
    font-size: 40px;
    line-height: 60px;
  }
}

@media screen and (max-width: 420px) {
  .section__title {
    font-size: 28px;
    line-height: 40px;
  }
}