.visiting {
  padding-top: 75px;
  padding-bottom: 75px;
}

.visiting .section__title {
  color: var(--gold-color);
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--red-color);
  margin-top: 25px;
  margin-bottom: 75px;
}

.visiting__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4.6rem;
  column-gap: 4.16666667%;
}

.card-item__picture {
  margin-bottom: 25px;
}

.card_item__title {
  font-family: Forum;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  color: var(--black-color);
}

.card-item__line {
  display: block;
  width: 68.18181818%;
  height: 2px;
  margin: 10px 0;
  background-color: var(--red-color);
}

.card_item__description {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 250;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  color: var(--black-color);
}

.card_item__description span {
  display: block;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 250;
  line-height: 21px;
  letter-spacing: 0%;
  margin-top: 10px;
}


@media screen and (max-width: 1024px) {
  .visiting {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .line {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .card-item__line {
    width: 45.45%;
  }

  .visiting__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.75rem;
    column-gap: 13.9%;
    padding: 0 108px;
  }

  .visiting__card_item {
    display: block;
    min-width: 30.55555556%;
    min-height: max-content;
  }

  .card_item__title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
  }

  .card_item__description {
    font-size: 20px;
    line-height: 23px;
  }
  
  .card_item__description span {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 911px) {
  .card-item__line {
    width: 53.57%;
  }

  .visiting__cards {
    row-gap: 2.5rem;
    column-gap: 6.4338;
    padding: 0 56px;
  }
}

@media screen and (max-width: 807px) {
  .visiting {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .line {
    margin-bottom: 40px;
  }

  .visiting__cards {
    row-gap: 2.5rem;
    column-gap: 7.69%;
    padding: 0 3.5rem;
  }

  .card_item__title {
    font-size: 22px;
    line-height: 24px;
  }

  .card_item__description {
    font-size: 18px;
    line-height: 21px;
  }
}

@media screen and (max-width: 760px) {
  .visiting__cards {
    column-gap: 7.69%;
    padding: 0 2.5rem;
    justify-items: center;
  }

  .visiting__card_item {
    min-width: 36.842%;
  }
}

@media screen and (max-width: 726px) {
  .visiting__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4.6rem;
    column-gap: 4.16666667%;
  }

  .visiting__card_item {
    min-width: 30.55555556%;
  }
}

@media screen and (max-width: 420px) {
  .visiting__cards {
    row-gap: 40px;
  }

  .visiting__card_item {
    width: 280px;
  }

  .card_item__title {
    font-size: 18px;
    line-height: 20px;
  }

  .card_item__description {
    font-size: 16px;
    line-height: 19px;
  }

  .card_item__description span {
    font-size: 16px;
    line-height: 19px;
  }
}